@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&display=swap");

:root {
  --background: #f8fafc;
  --foreground: #171717;
  margin: 2rem;
}

::selection {
  color: #171717;
  background: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter Tight", sans-serif;
}
